.red {
    color: rgb(172, 32, 32);
}

label {display: inline-block; 
    margin-bottom: 10px;
    }

    input, textarea {
        border-radius: 7px;
    }

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2;
        padding: 6px 10px;
        background-color: rgb(192, 181, 181);
        line-height: 2;
    }
    .div2 { grid-area: 1 / 2 / 2 / 3; 
        padding: 15px 10px;
        background-color: rgb(192, 181, 181);
        line-height: 2;
    }
